@CHARSET "UTF-8";
@import "main.css";

body{
	overflow-x:hidden;
}

#videoArea { width:0;	float: left; background: #000; }
#myCam {width:150px; position:absolute; left:0px; top:50px; cursor:pointer; cursor:hand; display:none;background: transparent; border: 2px #fff solid; }
div>video {	width:100%;background:transparent; }

#receivedChatArea {
	width: 100%;
	border: 1px #000 solid;
	overflow: auto;
	overflow-x: hidden;	
    display: inline-block;
    background-image: url('../img/chatback.jpg'); 
    background-size: cover;
    background-position: right;
    /*background-color: #34495e;*/
    padding-left: 0px;
}

#receivedChatArea > div  {
	display: flex;
	align-items: flex-end;
}

#receivedChatArea > div.minewrap  {
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
}

.time {
    font-size: 9px;
    margin: 0 0 15px 0;
}
 
#receivedChatArea li {
    display: table;
    white-break:normal;
    max-width: 60%;
    padding: 13px;
    margin: 7px 10px;
    font-size: 18px;
    line-height: 25px;
    list-style : none;
 
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
 
#receivedChatArea .yours {
    background-color: #ecf0f1;
    max-width: 60%;
    clear: both;
    float: left;
}
 
#receivedChatArea .yours:after {
    content: ' ';
    position: relative;
    top: auto;
    bottom: auto;
    border: 12px solid;
    border-color: transparent transparent #ecf0f1 transparent;
    margin: 0 0 0 -24px;
    float: left;
}
 
#receivedChatArea .mine {
    background-color: #C1E4EC;
    max-width: 60%;
    height: auto;
    clear: both;
    float: right;
}
 
#receivedChatArea .mine:after {
    content: ' ';
    position: relative;
    bottom: auto;
    border: 12px solid;
    border-color: transparent transparent #C1E4EC transparent;
    margin: 0 -24px 0 0;
    float: right;
}
 
#receivedChatArea li span {
    padding: 0 0 5px;
    color: #7f8c8d;
    display: block;
    text-align: left;
}

#footvar {
	margin: 0 auto;
	width: 95%;
}

#sendChatArea {
	float: left;
	width: 50%;
}

.systemwrap{background:rgba(192,192,192,0.6); color: white;}
.systemwrap > div{display: none;}
li.system{width:100%; text-align: center; font-style: italic;font-size:15px !important;}

/* sidebar */
#container {
	padding-left: 250px;
	padding-right: 250px;
}

/* SideBar Style */

#sidebar-wrapper {
	position: fixed;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	padding-bottom: 70px;
	background: #fff;
	overflow-x: hidden;
	overflow-y: auto;
}
  
#right-sidebar-wrapper {
	position: fixed;
	width: 250px;
	height: 100%;
	right: 0px;	
	padding-bottom: 70px;
	background: #fff;
	overflow-x: hidden;
	overflow-y: auto;
}

  
.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
    text-align: center;
}
 
.sidebar-nav li div {
    display: block;
    text-decoration: none;
    color: #999;
}
 
.sidebar-nav li div:hover {
    color: #000;
    background: rgba(192,192,192,0.2);
}
 
.sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
}

